$brand: var(--scc-brand);
// $gradient1: var(--gradient-1);
// $gradient2: var(--gradient-2);
$grid-cols: var(--scc-grid-cols);
$border-radius: var(--scc-border-radius);
$box-shadow: var(--scc-card-box-shadow);
$overlay-color: var(--scc-big-view-overlay-color);

$fontFamily: "Open Sans", sans-serif;
$fw-normal: 400;
$fw-bold: 700;

// adnimation vars
$flyUpStart: 7rem;

html.scc-no-scroll {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.scc-wrapper,
.scc-view-wrapper {
    font-family: $fontFamily;
    font-weight: $fw-normal;

    font-size: 16px;
}

.scc-wrapper {
    display: grid;
    grid-template-columns: repeat($grid-cols, 1fr);
    gap: 16px;

    .scc-card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;
        height: 0;
        padding-top: calc(100% / (16 / 9));
        overflow: hidden;

        border-radius: $border-radius;
        box-shadow: $box-shadow;

        // img {
        //     height: auto;
        //     width: 100%;
        // }
    }

    .scc-header {
        display: flex;
        pointer-events: none;
    }

    .scc-header::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(to top, var(--scc-card-overlay), transparent);
        opacity: 0.6;
    }

    // Implement gradient overlays at a later point when some
    // decisions regarding UX has been made

    // &.has-header-gradient .scc-header::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;

    //     background: linear-gradient(45deg, $gradient1, $gradient2);
    //     mix-blend-mode: screen;
    //     opacity: 0.7;
    // }

    .scc-header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .scc-card-meta {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 16px;
        z-index: 1;
        pointer-events: none;

        color: #fff;

        .scc-title {
            font-size: 2em;
        }
    }
}

.scc-view-wrapper {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 20px;
    padding-top: 6vh;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 2rem);
    z-index: 800;

    color: #000;

    .scc-view-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-color;
        z-index: -1;
        opacity: 0;

        animation: fadeIn 0.25s forwards;

        &:hover {
            cursor: pointer;
        }

        .scc-view-close-button {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;
            outline: none;

            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .scc-view-close-button:before,
        .scc-view-close-button:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 2px;

            background-color: #fff;
            transform-origin: center;
        }

        .scc-view-close-button::before {
            transform: rotate(-45deg);
        }

        .scc-view-close-button::after {
            transform: rotate(45deg);
        }
    }

    .scc-view-content-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-top: $flyUpStart;
        z-index: 999;
        height: 90vh;
        animation: flyUp 0.25s forwards;
    }

    .scc-view-image,
    .scc-view-content {
        box-shadow: $box-shadow;
    }

    .scc-view-image {
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: hidden;

        border-radius: $border-radius;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .scc-view-content {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-bottom: 24px;
        max-width: 20vw;

        background-color: #fff;
        border-radius: $border-radius;

        .scc-view-content-title {
            font-size: 1.8em;
        }

        .scc-view-content-tags span {
            color: $brand;
            text-transform: capitalize;

            &:not(:last-child) {
                padding-right: 6px;
                border-right: 2px solid rgba(#000, 0.2);
            }
        }

        .scc-view-content-text {
            margin-top: 16px;
        }

        .scc-view-content-socials {
            margin-top: 16px;
        }
    }

    .scc-view-content-socials {
        display: flex;
        gap: 16px;

        a {
            color: $brand;
            font-size: 2em;
        }
    }
}

@keyframes flyUp {
    from {
        margin-top: $flyUpStart;
    }

    to {
        margin-top: 40px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
