$brand: var(--scc-brand);
// $gradient1: var(--gradient-1);
// $gradient2: var(--gradient-2);
$grid-cols: var(--scc-grid-cols);
$border-radius: var(--scc-border-radius);
$box-shadow: var(--scc-card-box-shadow);
$overlay-color: var(--scc-big-view-overlay-color);

$fontFamily: "Open Sans", sans-serif;
$fw-normal: 400;
$fw-bold: 700;

// adnimation vars
$flyUpStart: 7rem;

@mixin responsive($size) {
    @if ($size == "desktop") {
        @media (min-width: 1281px) {
            @content;
        }
    } @else if ($size == "large-desktop") {
        @media only screen and (min-width: 2000px) {
            @content;
        }
    } @else if ($size == "laptop-desktop") {
        @media (min-width: 1025px) and (max-width: 1280px) {
            @content;
        }
    } @else if ($size == "tablet") {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if ($size == "tablet-landscape") {
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            @content;
        }
    } @else if ($size == "low-res-tablet") {
        @media (min-width: 481px) and (max-width: 767px) {
            @content;
        }
    } @else if ($size == "mobile") {
        @media (max-width: 480px) {
            @content;
        }
    }
}

html.scc-no-scroll {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.scc-wrapper,
.scc-view-wrapper {
    font-family: $fontFamily;
    font-weight: $fw-normal;

    font-size: 16px;

    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    legend,
    textarea,
    pre,
    iframe,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    .scc-title {
        text-align-last: left;
        font-size: 1.8em;
    }

    @include responsive("large-desktop") {
        font-size: 20px;
    }

    @include responsive("mobile") {
        .scc-title {
            font-size: 1.5em;
        }
    }
}

.scc-wrapper {
    display: grid;
    grid-template-columns: repeat($grid-cols, 1fr);
    gap: 16px;

    @include responsive("tablet") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive("mobile") {
        grid-template-columns: 1fr;
    }

    .scc-card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;
        height: 0;
        padding-top: calc(100% / (16 / 9));
        overflow: hidden;

        border-radius: $border-radius;
        box-shadow: $box-shadow;

        // img {
        //     height: auto;
        //     width: 100%;
        // }
    }

    .scc-header {
        display: flex;
        pointer-events: none;
    }

    .scc-header::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(to top, var(--scc-card-overlay), transparent);
        opacity: 0.6;
    }

    // Implement gradient overlays at a later point when some
    // decisions regarding UX has been made

    // &.has-header-gradient .scc-header::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;

    //     background: linear-gradient(45deg, $gradient1, $gradient2);
    //     mix-blend-mode: screen;
    //     opacity: 0.7;
    // }

    .scc-header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .scc-card-meta {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 16px;
        z-index: 1;
        pointer-events: none;

        color: #fff;
    }
}

.scc-view-wrapper {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 20px;
    padding-top: 6vh;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 2rem);
    z-index: 10000;

    color: #000;

    .scc-view-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-color;
        z-index: -1;
        opacity: 0;

        animation: fadeIn 0.25s forwards;

        &:hover {
            cursor: pointer;
        }

        .scc-view-close-button {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;
            outline: none;

            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .scc-view-close-button:before,
        .scc-view-close-button:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 2px;

            background-color: #fff;
            transform-origin: center;
        }

        .scc-view-close-button::before {
            transform: rotate(-45deg);
        }

        .scc-view-close-button::after {
            transform: rotate(45deg);
        }
    }

    .scc-view-content-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-top: $flyUpStart;
        z-index: 999;
        height: 90vh;
        animation: flyUp 0.25s forwards;

        @include responsive("tablet") {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        @include responsive("mobile") {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    .scc-view-image,
    .scc-view-content {
        box-shadow: $box-shadow;
    }

    .scc-view-image {
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: hidden;

        border-radius: $border-radius;

        @include responsive("mobile") {
            height: auto;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .scc-view-content {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-bottom: 24px;
        max-width: 20vw;

        background-color: #fff;
        border-radius: $border-radius;

        @include responsive("tablet") {
            max-width: none;
        }

        @include responsive("mobile") {
            max-width: none;
        }

        .scc-view-content-tags span {
            color: $brand;
            text-transform: capitalize;

            &:not(:last-child) {
                padding-right: 6px;
                border-right: 2px solid rgba(#000, 0.2);
            }
        }

        .scc-title {
            color: #000;
        }

        .scc-view-content-text {
            margin-top: 16px;

            p {
                color: #000;
            }
        }

        .scc-view-content-socials {
            margin-top: 16px;
        }
    }

    .scc-view-content-socials {
        display: flex;
        gap: 16px;

        a {
            color: $brand;
            font-size: 2em;
        }
    }
}

@keyframes flyUp {
    from {
        margin-top: $flyUpStart;
    }

    to {
        margin-top: 40px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
