$brand: var(--color-brand);
$grid-cols: var(--grid-cols);
$border-radius: var(--border-radius);
$box-shadow: var(--box-shadow);

.scc-wrapper {
    display: grid;
    grid-template-columns: repeat($grid-cols, 1fr);
    gap: 16px;

    .scc-card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;
        height: 0;
        padding-top: calc(100% / (16 / 9));
        overflow: hidden;

        border-radius: $border-radius;
        box-shadow: $box-shadow;

        img {
            height: auto;
        }
    }

    .scc-header {
        display: flex;
        pointer-events: none;
    }

    .scc-header::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(to top, $brand, transparent);
        opacity: 0.5;
    }

    .scc-header.has-gradient::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(45deg, #ff0051, #49b6ff);
        opacity: 0.7;
    }

    .scc-header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .scc-card-meta {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 16px;
        z-index: 1;
        pointer-events: none;

        color: #fff;

        .scc-title {
            font-size: 2rem;
        }
    }
}
